doctype html
html(xmlns:ng="http://angularjs.org" ng-app='app')
  head
  	title Multivision
    link(href="/favicon.ico", rel="shortcut icon", type="image-xicon")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
  body
    block main-content
    include scripts